.card-header {
    border-top: 2px solid darkgray;
    background-color: white;
    padding: 0;
}

.card-header h4 {
    margin: 10px;
}

.select2-container .select2-selection--single {
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    color: #495057;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: auto;
}

.ql-container {
    height: 60%;
}

.flatpickr-input {
    background-color: white !important;
}

img.product-image {
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.image-container:hover span.image-product {
    opacity: 1;
}

span.image-product i {
    position: absolute;
    left: 45%;
    top: 45%;
}

span.image-product {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 0;
    background-color: rgba(63, 66, 87, 0.23);
    left: 0;
}

span.image-auth .center-vertical {
    top: 40%;
    position: relative;
}

.image-container {
    position: relative;
    cursor: pointer;
    text-align: center;
    max-width: 300px;
    z-index: 4;
}

.ldBar {
    display: none;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 300px !important;
}
.ldBar.show{
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.img-circle{
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgrey;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}